

.services-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media all and (min-width: 960px) {
        flex-direction: row;
    }

    .service-card {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 0.5rem;
        padding: 1rem;
        color: black;
        flex: 1;
    }

    &:first-of-type {
        margin-bottom: 1rem;
    }
}