.intro-section {
    .container {
        display: flex;
        gap: 2rem;
        align-items: center;
        flex-direction: column-reverse;
        @media all and (min-width: 640px) {
            flex-direction: row;
        }
        .isometric {
            flex: 1;
            img {
                width: 80%;
                height: auto;
            }
        }
        .pre-header {
            flex: 1;
        }
    }
}

.hero-section {
    display: flex;    

    .container {
        padding-bottom: 5rem;
        .big-header {
            background-image: url(../images/W-letter.svg);
            background-repeat: no-repeat;
            background-position: right;
            background-size: 100%;
            padding-block: 4rem 1rem;
            @media all and (min-width: 1400px) {
                background-size: 50%;
            }
            .hOneModern {
            font-size: clamp(2.5rem, 1.5rem + 5vw, 7rem);
            }

            .hOneFunctional {
            font-size: clamp(1.5rem, 1.2rem + 3vw, 4.5rem);
            }

            .hOneOrigigi {
            font-size: clamp(1.75rem, 1.4rem + 4vw, 5.7rem);
            }
        }
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navigation {
        ul {
            list-style-type: none;
            display: flex;
            gap: 1rem;
            padding: 0;
            margin: 0;
        }
    }
}

.contact-section, .testimonials-section, .why-us-section, .portfolio-section, .services-section, .about-section, .intro-section {
    display: flex;
    align-items: center;
}

.contact-section {
    min-height: calc(100dvh - 105px);
    padding-bottom: 2rem;
}