.bbhHegarty{
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
  word-break: break-all;
}

h1 {
  font-size: 7rem;
  line-height: 0.8;
  margin: 0;
}

.orangeText {
  color: #F99D3E;
}